* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('img/pizza-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-wrapper {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1000px;
    text-align: left;
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #810000;
    margin-top: 20px;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group:nth-child(1),
.form-group:nth-child(10) {
    grid-column: span 2;
}

label {
    /* font-weight: bold; */
    color: rgb(7, 7, 7);
    font-size: 17px;
    padding: 5px;
    text-align: left;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: white;
    box-shadow: 0 0 5px rgba(227, 50, 76, 0.5);
}

button {
    grid-column: span 2; /* O botão ocupa duas colunas */
    width: 100%; /* O botão ocupa 100% da largura do contêiner */
    background: #810000;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
    text-align: center; /* Centraliza o texto dentro do botão */
}

button:hover {
    background: #3b0000;
    transform: scale(1.05);
}